<head>
  <title>Friends Page</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', 'friend.tailwind.css', media: 'all' %>
</head>

<h1>FRIENDS - STILL NEED TO STYLE</h1>


<h1 class="text-3xl font-bold text-blue-600">Hello, Tailwind CSS!</h1>
<button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
  Test Tailwind Button
</button>
<button class="btn-primary"> Test Number 2 </button> 
<button class="friends-button"> friend button  </button> 


<h1> <%= button_to "Back to home", home_index_path, method: :get, class: 'btn btn-primary' %> </h2>

<h1><%= @user.username %>'s Friends</h1>

<ul>
  <% @friends.each do |friend| %>
    <li><%= link_to friend.username, user_friend_path(@user, friend) %></li>
  <% end %>
</ul>

<h1> <%= button_to "Add a new friend", new_user_friend_path(current_user), method: :get, class: 'btn btn-primary' %> </h2>

