<head>
  <title>Home Page</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', 'home', media: 'all' %>
</head>
<body>

  <header class="header home-header">
    <div class="logo">
      <a href="<%= home_index_path %>">
        <%= image_tag 'logo.png', alt: 'Logo' %>
      </a>
    </div>
    <a href="<%= user_path(current_user.id) %>">
      <div class="profile-icon"><%= current_user.username[0].upcase %></div>
    </a>
  </header>
  <main class="content">
  <h1 class="welcome-text">Welcome, <%= current_user.username %>!</h1>
  <h2 class="section-heading">Popular Games</h2>
    <section class="games">
      <% @games.each do |game| %>
        <a href="<%= game_path(game) %>" class="game-card">
          <img src="<%= game.image %>" alt="<%= game.name %>" class="game-image">
          <h2 class="game-title"><%= game.name %></h2>
          <p class="game-rating">Rating: <%= game.avg_rating %></p>
        </a>
      <% end %>
    </section>
    <div class="browse-more">
      <a href="<%= games_path %>">Browse More</a>
    </div>

    <h2 class="section-heading">Friends</h2>
    <section class="friends-list">
    <% if @friends.length > 0%>
      <% @friends.each do |friend| %>
        <a href="<%= user_path(friend) %>" class="friend-link">
        <div class="friend-card">
          
            <div class="profile-circle">
              <%= friend.username[0].upcase %> 
            </div>
          
          <div class="friend-info">
            <h3><%=friend.username %></h3>
            <% if friend.number_of_ratings.nil? %>
                <p>0 ratings</p>
              <% else %>
                <p><%=friend.number_of_ratings%> ratings</p>
              <% end %>
          </div>
        </div>
        </a>
      <% end %>
    <% else %>
      <div class="no-friends">Nothing to Show</div>
      <div class="no-friends2">
          <a href="<%= user_friends_path(current_user) %>"><p>Connect with other Members</a>
      </div>
    <% end %>
</section>

<div class="browse-more">
  <a href="<%= user_friends_path(@user) %>">See all</a>
</div>
  </main>

</body>

