<turbo-frame id="new_rating">
  <div class="container">
    <% if @rating.errors.any? %>
      <div class="row text-bg-warning" id="error_explanation">
        <h2><%= pluralize(@rating.errors.count, "error") %> prevented this sight from being saved:</h2>
      </div>
      <% @rating.errors.each do |error| %>
        <div class="row text-bg-warning">
          <div class="col-2"></div><div class="col-8"><%= error.full_message %></div>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <h1>Create New Rating</h1>
    </div>

    <%= form_with(model: @rating, url: game_ratings_path(@game), local: true) do |form| %>
      <div class="field">
        <%= form.label :Rating %>
        <%= form.number_field :stars, min: 1, max: 5 %>
      </div>
    
      <div class="field">
        <%= form.label :text, "Your Review" %>
        <%= form.text_area :text %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</turbo-frame>
