<head>
  <title>Games Page</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', 'browse', media: 'all' %>
</head>
<body>
    <% if flash[:notice] %>
        <div class="flash-sucess">
            <%= flash[:notice]%>
        </div>
    <% end %>

    <header class="header">
        <div class="logo">Logo</div>
        <div class="search-form">
            <%= form_with url: games_path, method: :get, class: "search-form-container" do |form| %>
                <div class="form-group">
                <%= form.text_field :query, value: @query_filt, class: "form-input", placeholder: "Search for games" %>
                <div class="form-actions">
                <%= form.submit "Search", class: "btn btn-primary" %>
                <% if @query_filt.present? %>
                    <%= link_to "Clear Search", games_path, class: "btn btn-light" %>
                <% end %>
                </div>
                </div>
            <% end %>
            </div>
        <a href="<%= user_path(current_user.id) %>">
            <div class="profile-icon"><%= current_user.email[0].upcase %></div>
        </a>
    </header>

    <main class="content">
        <div class="row">
        <% if !(params[:query].present? && params[:query].length > 2) %>
            <h1 class="title">Browse Games</h1>
        <% end %>

            <% if params[:query].present? && params[:query].length > 2 %>
                <h2 class="section-heading">Matching your Search: '<%= params[:query] %>'</h2>
                <section class="games" id="games-section">
                    <% @games.each do |game| %>
                        <a href="<%= game_path(game) %>" class="game-card">
                        <img src="<%= game.image %>" alt="<%= game.name %>" class="game-image">
                        <h2 class="game-title"><%= game.name %></h2>
                        <p class="game-rating">Rating: <%= game.avg_rating %></p>
                        </a>
                    <% end %>
                </section>
            <% end %>

            <h2 class="section-heading">Top Rated Games</h2>
            <section class="games" id="games-section">
                <% @top.each do |game| %>
                    <a href="<%= game_path(game) %>" class="game-card">
                    <img src="<%= game.image %>" alt="<%= game.name %>" class="game-image">
                    <h2 class="game-title"><%= game.name %></h2>
                    <p class="game-rating">Rating: <%= game.avg_rating %></p>
                    </a>
                <% end %>
            </section>

            <h2 class="section-heading">Games Played by Friends</h2>
            <section class="games">
                <% if @games_friends_played.length > 0%>
                    <% @games_friends_played.each do |game| %>
                        <a href="<%= game_path(game) %>" class="game-card">
                        <img src="<%= game.image %>" alt="<%= game.name %>" class="game-image">
                        <h2 class="game-title"><%= game.name %></h2>
                        <p class="game-rating">Rating: <%= game.avg_rating %></p>
                        </a>
                    <% end %>
                <% else %>
                <div class="no-friends">Nothing to Show</div>
                <div class="no-friends2">
                    <a href="<%= user_friends_path(current_user) %>"><p >Connect with other Members</a>
                </div>
                <% end %>
            </section>

            <h2 class="section-heading">Popular Games</h2>
            <section class="games">
                <% @popular.each do |game| %>
                    <a href="<%= game_path(game) %>" class="game-card">
                    <img src="<%= game.image %>" alt="<%= game.name %>" class="game-image">
                    <h2 class="game-title"><%= game.name %></h2>
                    <p class="game-rating">Rating: <%= game.avg_rating %></p>
                    </a>
                <% end %>
            </section>
        </div>
    </main>
</body>