<div class="container">
<h4> we should create a default set of games to display besides all of them. </p>

    <%if flash[:notice]%>
        <div class="flash-sucess">
            <%= flash[:notice]%>
        </div>
    <%end%>

    <div class="row">
        <h1>Browse Games</h1>
        <%= form_with url: games_path, method: :get do |form| %>
            <%= form.label :query, "Search for: " %>
            <%= form.text_field :query, value: @query_filt %>
            <%= form.submit "Search", class: "btn btn-sm btn-primary" %>
            <%= link_to "Back to all games", games_path, class: "btn btn-sm btn-light" %>
        <% end %>

        <h1> <%= button_to "Back to home", home_index_path, method: :get, class: 'btn btn-primary' %> </h2>

        <section class="games">
        <% @games.each do |game| %>
            <a href="<%= game_path(game) %>" class="game-card">
            <img src="<%= game.image %>" alt="<%= game.name %>" class="game-image">
            <h2 class="game-title"><%= game.name %></h2>
            <p class="game-rating">Rating: <%= game.avg_rating %></p>
            </a>
      <% end %>
    </section>
    </div>
</div>