<div class="game-show">
  <h2> TODO: make this page </h2>
  <h1><%= @game.name %></h1>
  <p><%= @game.description %></p>
  <p>Average Rating: <%= @game.avg_rating %></p>
  <p>Number of Players: <%= @game.num_players %></p>
  <img src="<%= @game.image %>" alt="<%= @game.name %>" />
</div>