<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Game Shelf" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

  </head>

  <body>

    <div class="row">
      <% if flash[:notice] && !(controller.controller_name == "sessions" && controller.action_name == "new")  %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert]  && !(controller.controller_name == "sessions" && controller.action_name == "new") %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>

      <div class="row">
        <div class="col text-end">
          <% unless controller_name == 'sessions' %>
            <% if current_user && request.path == user_path(current_user) %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  
    <%= yield %>

    <% unless controller_name == 'sessions' %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
